<h1 class="p-5 text-left text-4xl font-body pl-11">Recipe <p class="inline text-main">info</p>
</h1>
<div class="ml-5 grid grid-cols-2 gap-5">
    <div class="col-span-12"></div>
    <div class="flex justify-left">
        <h1 class="text-center text-4xl font-body pl-6">Recipe <p class="inline text-main">name</p>
        </h1>
    </div>
    <div class="flex justify-left">
        <h1 class="text-center text-4xl font-body">Upload <p class="inline text-main">image</p>
        </h1>

    </div>


</div>
<div class=" grid grid-cols-5 gap-5">

    <form class="col-span-2 flex justify-left p-5">

        <div class="flex items-center px-2 py-2 rounded-3xl h-12 justify-left">
            <textarea id="chat" rows="1"
                class=" block mx-4 mr-2 p-2.5 w-96 text-sm text-gray-900 bg-white rounded-3xl border border-gray-300 dark:bg-card dark:bg-card dark:placeholder-gray-400 dark:text-white"
                placeholder="Enter here..."></textarea>

        </div>
    </form>

    <div class=" mr-12 p-5 flex justify-center ">
        <button class="bg-button hover:bg-hover font-body dark:bg-button text-black text-sm py-1 px-3 rounded-full ">
            Select Photo
        </button>
    </div>
</div>
<h1 class="p-5 text-left text-4xl font-body pl-11">Recipe <p class="inline text-main">info</p>
</h1>

<div class=" grid grid-cols-12 gap-5">

    <div class="p-5 flex justify-left col-span-5 ml-6 ">
        <textarea id="message" rows="7"
            class="block p-2.5 w-96 text-sm bg-card rounded-3xl border border-gray-300  dark:bg-card   dark:text-black"
            placeholder="Enter here..."></textarea>
    </div>
    <div
        class="p-5 flex justify-left col-span-6 ml-10 block p-2.5 w-96 text-sm bg-card rounded-3xl border border-gray-300  dark:bg-card   dark:text-black ml-10">
        <img class="rounded-3xl w-full h-full opacity-20" src="../../assets/image-icon.png" alt="image" />

    </div>


</div>
<div class="ml-5 grid grid-cols-2 gap-5">
    <div class="col-span-12"></div>
    <div class="flex justify-left">
        <h1 class="text-center text-4xl font-body pl-6">Recipe <p class="inline text-main">steps</p>
        </h1>
    </div>
    <div class="flex justify-left">
        <h1 class="text-center text-4xl font-body">Nutrition <p class="inline text-main">info</p>
        </h1>

    </div>


</div>


<div class="grid grid-cols-12 gap-5">
    <div class="p-5 flex justify-left col-span-5 ml-6 ">
        <textarea id="message" rows="8"
            class="block p-2.5 w-96 text-sm bg-card rounded-3xl border border-gray-300  dark:bg-card   dark:text-black"
            placeholder="Enter here..."></textarea>
    </div>

    <div class="p-5 flex justify-left col-span-6 ml-7 ">
        <textarea id="message" rows="8"
            class="block p-2.5 w-96 text-sm bg-card rounded-3xl border border-gray-300  dark:bg-card   dark:text-black"
            placeholder="Enter here..."></textarea>
    </div>


</div>
<div class="ml-10 p-5 ">
    <button class="bg-button hover:bg-hover dark:bg-button text-black text-sm py-2 px-4 rounded-full align-right">
        Submit
    </button>
</div>