<h1 class="text-center text-4xl font-body p-5">My <p class="inline text-main">Recipes</p>
    <div class="ml-10 p-5 flex justify-left">
        <button class="bg-button  hover:bg-hover dark:bg-button text-black text-sm py-2 px-3 rounded-full"
            routerLink="/add-recipe">
            Add recipe
        </button>
    </div>
    <div class="mt-8  grid grid-cols-4 ">
        <app-regular-card class="flex justify-center " routerLink="/my-recipes"></app-regular-card>
        <app-regular-card class="flex justify-center "></app-regular-card>
        <app-regular-card class="flex justify-center "></app-regular-card>
        <app-regular-card class="flex justify-center "></app-regular-card>
    </div>
    <div class="mt-8  grid grid-cols-4 ">
        <app-regular-card class="flex justify-center "></app-regular-card>
        <app-regular-card class="flex justify-center "></app-regular-card>
        <app-regular-card class="flex justify-center "></app-regular-card>
        <app-regular-card class="flex justify-center "></app-regular-card>
    </div>

    <div class="ml-10 p-5 flex justify-center">
        <button class="bg-button hover:bg-hover dark:bg-button text-black text-sm py-2 px-3 rounded-full">
            Show more
        </button>
    </div>