<h1 class="text-center text-4xl p-5 font-bold text-main">About us</h1>

<p class="p-10 mx-12 text-4xl">Q: How do i post a recipe?</p>
<p class="p-10 mx-15 text-4xl text-main">A: It’s simple! All you need is to go to your profile <br> and under Recipes
    click
    add new.</p>
<p class="p-10 mx-12 text-4xl">Q: How do i post a recipe?</p>
<p class="p-10 mx-15 text-4xl text-main">A: It’s simple! All you need is to go to your profile <br> and under Recipes
    click
    add new.</p>
<p class="p-10 mx-12 text-4xl">Q: How do i post a recipe?</p>
<p class="p-10 mx-15 text-4xl text-main">A: It’s simple! All you need is to go to your profile <br> and under Recipes
    click
    add new.</p>