<div class="max-w-sm flex-col items-center  rounded-3xl dark:bg-card p-4  ">
    <a href="#">
        <h5 class="mb-2 text-xl text-left font-body font-bold tracking-tight dark:text-main">Cake</h5>
    </a>
    <a>
        <img class="rounded-3xl w-231 h-231" src="../../assets/cherry-cake.jpg" alt="cherry-cake" />
    </a>
    <div class="p-5">
        <p class="font-body text-black text-2xl">Cherry Cake</p>
        <p class=" p-5 font-body text-black text-left text-xl leading-normal">Do you have a sweet tooth? If so, this
            easy
            to
            make
            cake is just for you!.</p>
        <div class="grid grid-cols-2 gap-3">

            <a href="#"
                class="inline-flex items-center px-3 py-2.5 mr-2 mb-4  font-body text-center text-black bg-button rounded-full hover:bg-hover focus:ring-4 focus:outline-none  dark:bg-button dark:hover:bg-hover w-13   mr-auto cols-1  ">
                <svg xmlns="http://www.w3.org/2000/svg" height="16px"
                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M428.3 3c11.6-6.4 26.2-2.3 32.6 9.3l4.8 8.7c19.3 34.7 19.8 75.7 3.4 110C495.8 159.6 512 197.9 512 240c0 18.5-3.1 36.3-8.9 52.8c-6.1 17.3-28.5 16.3-36.8-.1l-11.7-23.4c-4.1-8.1-12.4-13.3-21.5-13.3H360c-13.3 0-24-10.7-24-24V152c0-13.3-10.7-24-24-24l-17.1 0c-21.3 0-30-23.9-10.8-32.9C304.7 85.4 327.7 80 352 80c28.3 0 54.8 7.3 77.8 20.2c5.5-18.2 3.7-38.4-6-55.8L419 35.7c-6.4-11.6-2.3-26.2 9.3-32.6zM171.2 345.5L264 160l40 0v80c0 26.5 21.5 48 48 48h76.2l23.9 47.8C372.3 443.9 244.3 512 103.2 512H44.4C19.9 512 0 492.1 0 467.6c0-20.8 14.5-38.8 34.8-43.3l49.8-11.1c37.6-8.4 69.5-33.2 86.7-67.7z" />
                </svg></a>

            <a href="#"
                class="inline-flex   items-center px-5 py-2.5 mr-4 mb-4 w-28 text-sm font-body text-center text-black bg-button rounded-full hover:bg-main cols-1  dark:bg-button dark:hover:bg-hover">
                Read more</a>
        </div>

    </div>
</div>