<div class="grid grid-cols-12 gap-5 max-h-24 w-full bg-main text-white sm:justify-center  ">
    <div class="col-span-1">
        <img alt="logo" class="max-h-24 ml-20  hover:cursor-pointer " src="../../assets/chef-hat-png-23.png"
            routerLink="/homepage">
    </div>



    <div
        class="flex col-span-1 my-auto text-2xl md:justify-center sm:justify-center ml-3 sm:ml-0 h-7 sm:h-7 md:h-8 hover:cursor-pointer">
        <div routerLink="/homepage">
            Home
        </div>
    </div>
    <div class="col-span-1 my-auto text-2xl flex md:justify-center sm:justify-center">
        <div routerLink="/about-us">
            About Us
        </div>
    </div>
    <div class="col-span-1 my-auto text-2xl flex md:justify-center sm:justify-center">
        <div routerLink="/about-us">
            FAQ
        </div>
    </div>
    <div class="col-span-4 my-auto text-2xl ">
        <form class="flex items-center md:justify-center sm:justify-center md:text-md">
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
                <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none md:justify-center sm:justify-center">
                </div>
                <input type="text" id="simple-search"
                    class="border rounded-full border-gray-300 text-gray-900 bg-gray-300 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-5 p-2.5"
                    placeholder="Search" required>
                <div
                    class="absolute inset-y-0 right-0 flex items-center pl-3 pr-3 pointer-events-none bg-green-500 rounded-full border border-green-500">
                    <svg aria-hidden=" true" class="w-6 h-6 text-black md:justify-center sm:justify-center"
                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" routerLink="/search">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
            </div>
        </form>
    </div>
    <div class="col-start-10 col-end-11 my-auto text-2xl md:justify-center sm:justify-center">
        <div class="md:text-md" routerLink="/add-recipe">
            Add Recipe
        </div>
    </div>
    <div class="col-start-11 col-end-12 my-auto text-2xl text-end md:justify-center sm:justify-center">
        <div class="md:text-md" routerLink="/login">
            Login
        </div>
        <div class="md:text-md" routerLink="/logout">
            Logout
        </div>
    </div>
</div>