<div class="max-w-2xl mx-auto p-20 flex justify-center" id="login">
    <div class="bg-card shadow-md border border-gray-200 rounded-3xl max-w-sm p-4 sm:p-6 lg:p-8 dark:bg-card w-full ">
        <form class="space-y-6 text-center" action="#">
            <h3 class="text-xl  text-center text-main dark:text-main font-bold">Login</h3>
            <div>
                <input [(ngModel)]="login.username" type="username" name="username" id="username"
                    placeholder="Username" required="" class="w-52">
            </div>
            <div>
                <input [(ngModel)]="login.password" type="password" name="password" id="password" placeholder="Password"
                    required="" class="w-52">
            </div>
            <div class="flex justify-center"><button (click)="onLogin()" type="submit"
                class="w-30 text-black bg-main hover:bg-hover  font-body rounded-3xl text-sm px-5 py-2.5 text-center dark:bg-button dark:hover:bg-hover ">Login
                </button></div>

            <div class="text-sm font-medium text-black dark:text-black flex justify-center">
                Don't have an account? <a href="#" class="text-main hover:underline dark:text-main ml-2"
                    routerLink="/register">
                    Register</a>
            </div>
        </form>
    </div>

</div>