<h1 class="p-5 ml-5 text-2xl">Search results for <p class="text-main text-2xl inline">"vietnamese chicken"</p>
</h1>
<div class="p-5 grid grid-cols-12 gap-5">
    <app-top-recipes-card class="ml-5 flex justify-center col-span-6"></app-top-recipes-card>
    <app-top-recipes-card class="ml-5 flex justify-center col-span-6"></app-top-recipes-card>
</div>
<div class=" p-5 grid grid-cols-12 gap-5">
    <app-top-recipes-card class="ml-5 flex justify-center col-span-6"></app-top-recipes-card>
    <app-top-recipes-card class="ml-5 flex justify-center col-span-6"></app-top-recipes-card>
</div>
<div class=" p-5 grid grid-cols-12 gap-5">
    <app-top-recipes-card class="ml-5 flex justify-center col-span-6"></app-top-recipes-card>
    <app-top-recipes-card class="ml-5 flex justify-center col-span-6"></app-top-recipes-card>
</div>
<div class=" p-5 grid grid-cols-12 gap-5">
    <app-top-recipes-card class="ml-5 flex justify-center col-span-6"></app-top-recipes-card>
    <app-top-recipes-card class="ml-5 flex justify-center col-span-6"></app-top-recipes-card>
</div>
<div class="p-5 flex justify-center">
    <button class="bg-main  hover:bg-hover text-black f py-2 px-4 rounded-full">
        Show more
    </button>
</div>